body {
  background-color: black

}

h1 {
  color:greenyellow;
  padding: 35px;
  padding-bottom: 5px;
  text-decoration: underline;
  font-family:'Courier New', Courier, monospace
  
}

p {
  color:rgb(125, 188, 0);
  padding-inline-start: 35px;
  padding-bottom:30px;
  font-family:'Courier New', Courier, monospace
  box-shadow: inset 0 0 0 25px #53a7ea;
}

.form-group {
  color:rgb(157, 211, 133);
  font-family:'Courier New', Courier, monospace;
  padding: 35px;
}

.submit {
  padding:35px;
}